MICROCMS_API_KEY=your_microcms_api_key
MICROCMS_SERVICE_DOMAIN=your_microcms_service_domain
BASIC_AUTH_CREDENTIALS=username:password
REVALIDATE_SECRET=your_revalidate_secret
PREVIEW_SECRET=your_preview_secret
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-XXXXXXXXXX
